@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
  }

  :root {
    height: 100%;
  }

  body {
    height: 100%;
  }

  menu,
  ul,
  ol {
    list-style-type: none;
  }

  a {
    color: inherit;
  }
}

:root {
  --c-bg: ghostwhite;
  --c-fg: black;
  --c-sh: grey;
  --sh: 0 4px 8px var(--c-sh);

  font-family: monospace;
  font-size: large;
  background-color: var(--c-bg);
}

canvas {
  width: 100%;
  height: 100%;
}

menu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border-radius: 4px;
  padding: 0.5rem;
  color: var(--c-bg);
  background-color: color-mix(in srgb, transparent, var(--c-fg) 80%);
  box-shadow: var(--sh);
}

menu:empty {
  display: none;
}

nav {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  width: min(30ch, 100%);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 1rem;
}

nav:has(button[aria-pressed]) {
  background-color: color-mix(in srgb, transparent, var(--c-bg) 80%);
}

nav button {
  all: unset;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  width: fit-content;
  border-radius: inherit;
  color: var(--c-bg);
  background-color: color-mix(in srgb, transparent, var(--c-fg) 80%);
  box-shadow: var(--sh);
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  transition: 150ms opacity linear;
}

nav:has(button[aria-pressed]) ul {
  opacity: 1;
}

input[disabled] {
  all: unset;
}
