@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
  }

  :root {
    height: 100%;
    line-height: 1.5;
    overflow: hidden;
  }

  body {
    height: 100%;
  }

  menu,
  ul,
  ol {
    list-style-type: none;
  }

  a {
    color: inherit;
  }
}

@font-face {
  src: url("assets/ShareTechMono-Regular.ttf");
  font-family: "Share Tech Mono";
}

:root {
  --c-bg: ghostwhite;
  --c-fg: black;
  --c-sh: grey;
  --c-br: color-mix(in srgb, transparent, var(--c-bg) 10%);
  --br: 1px dashed var(--c-br);
  --sh: 0 4px 8px var(--c-sh);

  font-family: "Share Tech Mono", monospace;
  font-size: large;
  text-underline-offset: 4px;
  background-color: var(--c-bg);
  border-color: var(--br);
}

main,
canvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 1rem;
}

.hud {
  padding: 0.5rem;
  color: var(--c-bg);
  /* Fallback for browsers that don't support `color-mix`. */
  background-color: var(--c-fg);
  background-color: color-mix(in srgb, transparent, var(--c-fg) 90%);
  box-shadow: var(--sh);
  border-radius: 4px;
}

.hud:empty {
  display: none;
}

details {
  grid-column: 2;
  width: min(50ch, 100%);
  height: fit-content;
  justify-self: center;
}

details > p {
  padding: 0.5rem;
  margin-top: 1rem;
  border-top: var(--br);
}

details > summary {
  list-style-type: none;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

details > summary::before {
  content: url("assets/arrow.svg");
  display: inline-block;
  rotate: 90deg;
  transition: rotate 150ms ease-out;
}

details > summary:not(:only-child) {
  cursor: s-resize;
}

details[open] > summary:not(:only-child) {
  cursor: n-resize;
}

details[open] > summary:not(:only-child)::before {
  rotate: 180deg;
}

#controls {
  grid-column: 3;
  height: fit-content;
  width: fit-content;
  justify-self: end;
  display: flex;
  gap: 0.5rem;
}

#controls:empty {
  display: none;
}

#controls > li {
  line-height: 0;
  cursor: help;
}

nav {
  grid-column: 1;
  position: relative;
  width: min(30ch, 100%);
  height: fit-content;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav button {
  all: unset;
  cursor: pointer;
  text-align: center;
  width: fit-content;
}

nav ul {
  position: absolute;
  top: calc(100% + 1rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: 150ms opacity linear, visibility 150ms linear;
}

nav:has(button[aria-pressed]) ul {
  opacity: 1;
  visibility: visible;
}

a[target="_blank"] {
  cursor: alias;
}

kbd {
  border-radius: 2px;
  border: var(--br);
  background-color: var(--c-br);
  padding: 0.1rem 0.25rem;
  letter-spacing: 2;
}
